<form [formGroup]="invoiceForm">
	<table border=12>
		<thead>
			<th>Id</th>
			<th>Name</th>
			<th>Idade</th>
			<th>Sexo</th>
			<th>Action</th>
		</thead>
		<tbody formArrayName="Rows">
			<tr *ngFor="let itemrow of invoiceForm.controls.Rows.controls; 
				let i=index;let l=last"
				[formGroupName]="i">
				<td>{{i+1}}</td>
				<td>
					<input formControlName="name" class="form-control">
        </td>
				<td>
					<input formControlName="idade" class="form-control">
				</td>
				<td>
					<select type="text" formControlName="sexo" class="form-control">
						<option value="">--</option>
						<option value="M">Masculino</option>
						<option value="F">Feminino</option>
					</select>
				</td>
				<td>
					<button *ngIf="formArr.controls[0].invalid" (click)="deleteRow(i)" class="btn btn-danger">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</form>
<button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button>
<br/>
<br/>
<pre>{{invoiceForm.value | json}}</pre>